*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(to right,#00204d,rgb(4, 255, 255),#00204d);
    background-size: 100%,100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transition: 3s linear;
    transition: 3s linear;

}
#unitFrom{
    margin-top: 3rem;
    border-radius: 8px;
    height: 40px;
    font-size: 20px; 
    margin-left: 2rem;
    transition: 3s linear;

}

.home input{
    width: 800px;
    border-radius: 8px;
    height: 40px;
    font-size: 20px;
    width: 400px;  
    transition: 3s linear;

}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    transition: 3s linear;

    
  }
  .secondinput #unitTo{
    margin-top: 3rem;
    border-radius: 8px;
    height: 38px;
    font-size: 20px; 
    margin-left: 2rem;
    transition: 3s linear;


  }

  
  h1 {
    text-align: center;
  }
  #unitFrom #option{
    font-size: 27px;
}
  .home #result{
    margin-top: 2rem;
    transition: 3s linear;
    color: white;
  }
  
  .converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: 3s linear;

  }
  
  input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .secondinput button{
    margin-top: 2rem;
    padding: 5px;
    width: 100px;
    margin-right: 0.5rem;
    border-radius: 8px;
    font-size: 15px;
    transition: 3s linear;

  }
  p#result {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .mainhome{
    transition: 3s linear;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 50vh;
    margin-left: 28rem;
  }
  @media screen and (min-width : 320px) and (max-width : 480px){
    body{
      background-image: linear-gradient(to right,#1f242d,#1f242d);
    }
}
@media screen and (max-width: 1160px) {
    
    
    body{
      background-image: linear-gradient(to right,#1f242d,#1f242d);
    }
    .firstcontainer{
      width: 100%;
      flex-direction: column;
      height: 333px;
    }
    .firstcontainer img{
      margin-left: 5rem;
      margin-top: 0rem;
      height: 400px;
      width: 400px;
    }
    h1{
      font-size: 5vw;
    }
    .mainhome {
        transition: 3s linear;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        width: 85%;
        height: 33vh;
        margin-left: 4rem;
    }
    #unitFrom {
        /* width: 130px; */
        margin-top: 3rem;
        border-radius: 8px;
        /* height: 40px; */
        font-size: 27px;
        margin-left: 2rem;
        transition: 3s linear;
        width: 251px;
        /* padding: 5px; */
        /* margin-right: 10px; */
        font-size: 3vw;
        height: 76px;
    }
    .secondinput button {
        margin-top: 8rem;
        padding: 5px;
        width: 251px;
        height: 76px;
        /* margin-right: 0.5rem; */
        border-radius: 8px;
        font-size: 27px;
        transition: 3s linear;
    }
  
    .secondinput #unitTo 
         {
            width: 251px;
            height: 76px;
            margin-top: 3rem;
            border-radius: 8px;
            /* height: 40px; */
            font-size: 27px;
            margin-left: 2rem;
            transition: 3s linear;
         }
         input[type="number"] {
            width: 130px;
            padding: 5px;
            margin-right: 0px;
        }
        .home #result {
            margin-top: 5rem;
            transition: 3s linear;
            color: white;
            font-size: 40px;
        }
        #unitFrom #option {
            font-size: 10px;
        }
        #unitTo #option {
            font-size: 10px;
        }
    
        input[type="number"] {
          width: 251px;
          padding: 5px;
          margin-right: 10px;
          font-size: 3vw;
          height: 76px;
      }
    
}